* {
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    background-color: seashell;
}

div{
	display: inline-block; 
	width:100%;
	text-align: center; 
	margin-top: 60px;
}

.row {
    width: 1000px;
    margin: auto;
}

.cards {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 2000px;
    align-content: flex-start;
    justify-content: space-around;
}

.card {
	float: left;
    background-color: white;
    width: 315px;
    margin: 8px;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 4px 0px  rgba(0,0,0,0.3);
}

.card img {
    max-width: 100%;
}

.card .text {
    padding: 0 20px 20px;
}

.card .text > p {
    text-align: left;
    font-size: 16px;
}

.gocheck {
    text-decoration: none;
    color: white;
}

.gocheck:hover {
    color: yellow;
}

.card .text > button {
    background: maroon;
    border: 0;
    padding: 10px;
    width: 100%;
}

@media (max-width: 1000px) {
    .row {
        width: 700px;
        height: 3000px;
        margin: auto;
    }
    .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 2850px;
        align-content: flex-start;
        justify-content: space-around;

    }
    .card {
    	float: left;
        margin: 20px;
    }
    .back-button {
        position: absolute;
        top: 3000px;
        right: 40%;
        clear: both;
    }
}

@media (max-width: 820px) {
    .row {
        width: 700px;
        height: 3000px;
        margin: auto;
    }
    .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 2850px;
        align-content: flex-start;
        justify-content: space-around;
    }
    .card {
    	float: left;
        margin: 17px;
    }
    .back-button {
        position: absolute;
        top: 3000px;
        right: 38%;
        clear: both;
    }
}

@media (max-width: 740px) {
    .row {
        width: 680px;
        height: 3000px;
        margin: auto;
    }
    .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 2850px;
        align-content: flex-start;
        justify-content: space-around;
    }
    .card {
    	float: left;
        margin: 13px;
    }
    .back-button {
        position: absolute;
        top: 3000px;
        right: 36%;
        clear: both;
    }
}

@media (max-width: 700px) {
    .mountain {
        margin: 0 40px 0 40px;
    }
    .row {
        width: 350px;
        height: 5250px;
        margin: auto;
    }
    .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 5300px;
        align-content: flex-start;
        justify-content: space-around;
    }
    .back-button {
        position: absolute;
        top: 5250px;
        clear: both;
    }
}


.back-button {
    display: inline-block;
    border-radius: 4px;
    background-color: rosybrown;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 0 50px 0;
    clear: both;
}

.back-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.back-button span:after {
    content: '\2190';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -80px;
    transition: 0.5s;
}

.back-button:hover span {
    padding-left: 25px;
}

.back-button:hover span:after {
    opacity: 1;
    right: 0;
}
